* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

:root {
  --text-color: #fff;
  --bg-url: url(./assets/bg-mobile.jpg);

  --bg-button: rgba(255, 255, 255, 0.1);
  --bg-button-hover: rgba(255, 255, 255, 0.05);
  --bg-border-button: 1px solid rgba(255, 255, 255, 0.3);
  --bg-border-button-hover: 1.5px solid rgba(255, 255, 255, 0.1);

  --bg-social-links: rgba(255, 255, 255, 0.1);

  --switch: url(./assets/moon-stars.svg);
}

.ligth {
  --text-color: #000;
  --bg-url: url(./assets/bg-mobile-ligth.jpg);

  --bg-button: rgba(0, 0, 0, 0.09);
  --bg-button-hover: rgba(0, 0, 0, 0.03);
  --bg-border-button: 1px solid rgba(0, 0, 0, 0.05);
  --bg-border-button-hover: 1.5px solid rgba(0, 0, 0, 0.15);

  --bg-social-links: rgba(0, 0, 0, 0.1);
  --switch: url(./assets/sun.svg);
}

body {
  background: var(--bg-url) no-repeat top center/cover;

  height: 90vh;

  transition: background 1s;
}

body * {
  font-family: "Inter", sans-serif;
  color: var(--text-color);
}

#container {
  width: 90%;
  max-width: 588px;

  margin: 56px auto 0px;
  padding: 0 24px;
}

#profile {
  text-align: center;

  padding: 24px;
}

#profile img {
  width: 112px;
}

#profile p {
  font-weight: 500;
  line-height: 24px;

  padding-top: 8px;
}

#switch {
  position: relative;
  width: 64px;

  margin: 20px auto 10px;
}

#switch button {
  width: 32px;
  height: 32px;

  background: #fff var(--switch) no-repeat center;

  cursor: pointer;

  border: 0;
  border-radius: 50%;

  position: absolute;
  z-index: 1;

  top: 50%;
  transform: translateY(-50%);

  animation: slide-back 0.5s;
}

.ligth #switch button {
  animation: slide-in 0.5s forwards;
}

#switch button:hover {
  outline: 8px solid var(--bg-social-links);
}

#switch span {
  display: block;

  width: 64px;
  height: 24px;

  background: var(--bg-button);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);

  border: var(--bg-border-button);
  border-radius: 9999px;
}

ul {
  list-style: none;

  padding: 24px 0;
}

li a {
  padding: 16px 24px;
  display: flex;
  justify-content: center;
  align-items: center;

  text-decoration: none;
  font-weight: 500;

  border: var(--bg-border-button);
  border-radius: 5px;

  margin: 16px auto 0;

  background: var(--bg-button);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);

  transition: background 0.5s;
}

li a:hover {
  background: var(--bg-button-hover);

  border: var(--bg-border-button-hover);
}

#social-links {
  display: flex;
  justify-content: center;

  padding: 24px 0;

  font-size: 30px;
}

#social-links a {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 18px;
  border-radius: 50%;

  transition: background 0.3s;
}

#social-links a:hover {
  background: var(--bg-social-links);
}

footer {
  display: flex;
  justify-content: center;

  bottom: -10px;

  padding: 24px 0;

  font-size: 14px;
}

footer p span {
  font-weight: 700;
}

/* media queries */
@media (min-width: 700px) {
  :root {
    --bg-url: url(./assets/bg-desktop.jpg);
  }

  .ligth {
    --bg-url: url(./assets/bg-desktop-ligth.jpg);
  }
}

@keyframes slide-in {
  from {
    left: 0;
  }
  to {
    left: 50%;
  }
}

@keyframes slide-back {
  from {
    left: 50%;
  }
  to {
    left: 0;
  }
}
